html {
  font-family: PingFangSC;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  /* test avoid white background flash during transition */
  background-color: $gray-background;
  color: $black-text;
}

body {
  margin: 0;
}

.main-layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.finger {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

input:focus-visible {
  outline: none;
}

::placeholder {
  color: $gray-reminder;
}

.primary-button {
  background-color: $blue-pale;
  border: 1px $blue-pale solid;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 0;
  color: $white;
  width: 120px;
  font-size: 18px;
  cursor: pointer;
}
.secondary-button {
  background-color: $white;
  border: 1px $gray-border solid;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 0;
  width: 120px;
  font-size: 18px;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.share-network-facebook {
  color: $facebook;
}
.share-network-whatsapp {
  color: $whatsapp;
}
.gray-text {
  color: $gray-text;
}
.purple {
  color: $purple;
}
.purple-pale {
  color: $purple-pale;
}


.wrapper {
  width: 100px; /* Set the size of the progress bar */
  height: 100px;
  position: absolute; /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
  width: 80px;
  height: 80px;
  border: 10px solid green;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}

/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;  /* Only run once */
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear; /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
  // -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  // -webkit-animation-delay: 0.5s; /* Wait half of the animation */
  -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.circle[data-anim~=left] {
  -webkit-animation-duration: 1s; /* Full animation time */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 0.5s; /* Half animation time */
  -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(300deg);
  }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}