//color

// gray scale
$black-text: #464a53;
$gray-background: #f3f6f9;
$gray-header: #6a707e;
$gray-border: #d9d9d9;
$gray-text: #898989;
$gray-icon: #aaaaaa;
$gray-reminder: #abafb3;
$white: #fff;

// social
$whatsapp: #30bf39;
$twitter: #43bfe1;
$facebook: #3b5998;

// uiux
$blue: #438afe;
$blue-pale: #0fb9c5;
$purple: #7f63f4;
$purple-pale: #e0cfff;

$box-shadow: 1.5px 2.6px 10px 0 rgba(119, 119, 119, 0.1);
// grid
$container-max-width: 1100px;
// mobile display
$grid-glutter-xs: 13px;
$container-width-xs: $container-max-width + $grid-glutter-xs * 2;
// desktop display
$grid-glutter-sm: 20px;
$container-width-sm: $container-max-width + $grid-glutter-sm * 2;
// screen width
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
